/* body{
    --main-color: white;
    --secondary-color: grey;
    --third-color: black;
} */

.app {
	height: 100vh;
	width: 100%;
	min-height: 100vh !important;
	font-family: 'Lora', serif;
	z-index: 1000;
}
