#comment-submit-btn {
	bottom: 0;
	right: 0;
	position: absolute;
	margin: 1.5rem;
}

#comment-textarea {
	margin-right: 1rem;
}

.card-footer + .card-body {
	position: relative;
	min-height: 13rem;
	padding-bottom: 50px;
	padding-right: 0px !important;
	padding-top: 0px;
}

i {
	cursor: pointer;
	padding-left: 0.2rem;
}

.icon-div {
	margin-left: 0.5rem;
}

.comment-card {
	/* padding-top: 0rem; */
	border-left: 3px solid rgb(68, 141, 96);
}

.comment-card > .card-header {
	background-color: rgb(243, 247, 229);
}

.comment-card > .card-footer {
	background-color: rgb(243, 247, 229);
}

/* .comment-card:last-of-type {
	border-bottom: 3px solid rgb(30, 122, 134);
} */

.comment-card > .card-footer {
	border: none;
}

.comment-card + form {
	padding-left: 10px;
	padding-right: 10px;
	border-left: 3px solid rgb(68, 141, 96);
	border-bottom-left-radius: 10px;
}

.post-card {
	opacity: 0;
	animation: flowup 1s forwards;
}

@keyframes flowup {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
	}
}

.post-card > .card-header {
	background-color: rgb(239, 242, 252);
}

.post-card > .card-footer {
	background-color: rgb(239, 242, 252);
}
