#home {
	width: 100%;
	min-height: 90vh !important;
	overflow: hidden;
	object-fit: cover;
	z-index: 2;
}

#main-title {
	font-size: 4.8rem;
	font-weight: 400;
	font-family: 'Sacramento', cursive;
	letter-spacing: 0.1rem;
	line-height: 100%;
	text-shadow: 2px 4px #0000004f;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: dropin 1.5s;
	z-index: 8;
}

#fade-in {
	opacity: 0;
	font-size: 1.5rem;
	font-weight: bolder;
	text-shadow: 1px 1px #00000088;
	position: absolute;
	margin-top: 1rem;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	animation: fadein 1s 1s forwards;
	z-index: 4;
}

.cloud-img {
	opacity: 0;
	position: absolute;
	animation: across 10s linear infinite alternate;
}

.button-div {
	opacity: 0;
	position: absolute;
	background-color: rgba(244, 252, 255, 0.925);
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	animation: fadein 1s 1s forwards;
}

.button-div + .button-div {
	top: 66%;
}

@keyframes dropin {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translate(-50%, -50%);
	}
	40% {
		transform: translate(-50%, -200%);
	}
	60% {
		transform: translate(-50%, -100%);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes across {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	10%,
	90% {
		opacity: 0.4;
	}
	50% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(+200px);
	}
}

#not-found-img {
	width: 100vw;
	z-index: 20;
}
