#user-avatar {
	border-radius: 50%;
	margin: 2rem;
	object-fit: cover;
}

.user-avatar {
	object-fit: cover;
	border-radius: 50%;
}

.profile-main {
	margin-left: 47px;
}

input#file-upload-button {
	border: none;
	background: none;
	outline: none;
}

#editing-btn-group {
	margin-left: 50%;
	margin-top: 0.5rem;
	transform: translateX(-50%);
}

#editing-btn-group > button {
	margin-left: 1rem;
}

.user-info:nth-child(2) {
}
.user-info > h1 {
	margin-bottom: 2px;
}
